.notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 5vh;
  padding: 10px;

  &.show {
    display: flex;
  }
}
