.todo-item {
  position: relative;
  padding: 0 !important;

  &:hover button {
    opacity: 1;
  }

  &__main {
    display: flex;
    align-items: center;
    padding: 10px 50px 10px 20px;
    cursor: pointer;
  }

  &__text {
    margin-left: 8px;
  }

  &__clear-button {
    position: absolute;
    top: calc(50% - 16px);
    right: 8px;
    display: block;
    opacity: 0;
    box-shadow: none;
  }

  &.done {
    background: #eeeeee;

    span {
      color: #9e9e9e;
      text-decoration: line-through;
    }
  }
}
